# Les Variables et opérateurs

Une variable est comme une case de mémoire dans notre ordinateur, à laquelle on donne un nom et une valeur qui peut changer. Voici comment définir une variable avec sa valeur en Python

In [1]:
poids = 89

Ici, nous avons donné le nom `poids` à notre variable et elle contient la valeur 89. La valeur d'une variable peut changer.

In [3]:
poids = 82

Désormais, notre variable `poids` contient la valeur 82. On peut l'afficher pour vérifier avec le fonction `print`

In [4]:
print(poids)

82

Pour donc affichier la valeur d'une variable, il faut écrire `print` suivi de parathèses avec à l'intérieur le nom de notre variable. Puisqu'on est dans un notebook, on peut aussi afficher la valeur d'une variable simplement en tapant le nom comme ceci :

In [5]:
poids

82

Que se passe-t-il quand je nomme ma variable `2poids` pour dire que c'est un second poids ? Essayons:

In [6]:
2poids = 25

SyntaxError: invalid syntax (<ipython-input-6-d76a5a588aa9>, line 1)

ON obtient une erreur. Cela est dû au fait qu'en Python le nom d'une variable ne peut commencer par un chiffre. Par convention, il est recommandé d'utiliser les lettres miniscules et le tiret du 8 `_` pour nommer une variable. N'oublions pas que le nom ne peut contenir un espace. Une variable pour designer l'âge de Kevin pourrait donc s'appeler `lage_de_kevin`.

In [7]:
lage_de_kevin = 20

On peut faire des opérations mathématiques sur les variables :

**addiction**

In [1]:
15 + 30

45

In [2]:
nombre = 5
print(nombre + 4)

9

**soustraction**

In [3]:
96 - 12

84

In [4]:
print(nombre - 2)

3

**Multiplication**

In [5]:
5 * 3

15

In [6]:
print(nombre * 2)

10

**Division**

In [7]:
27 / 9

3.0

In [8]:
25 / 2

12.5

On peut décider d'extraire uniquement le quotient de la division

In [9]:
25 // 2

12

**Exposant**

In [11]:
2 ** 5

32

In [12]:
15 ** 0

1

**Modulo (Reste de la division)**

In [13]:
89 % 2

1

On peut donc dire qu'un nombre est pair par exemple si ce nombre modulo 2 est 1 et non 0

In [14]:
est_pair = 27 % 2

In [15]:
est_pair

1

On peut stocker le resultat de l'opération sur une variable avec le même nom

In [17]:
nombres_de_voitures = 5

In [18]:
nombres_de_voitures = nombres_de_voitures + 15

In [19]:
nombres_de_voitures

20

on peut réecrire l'opération de cette manière

In [20]:
nombres_de_voitures += 15

In [21]:
nombres_de_voitures

35

In [22]:
nombres_de_voitures -= 3

In [23]:
nombres_de_voitures

32

In [24]:
nombres_de_voitures /= 2

In [25]:
nombres_de_voitures

16.0

In [26]:
nombres_de_voitures *= 3

In [27]:
nombres_de_voitures

48.0

**P E M D A S**

# Les Types de données en Python

Il existe plusieurs types de données en Python.

## Les nombres entiers

In [9]:
age = 15

15 est un nombre entier. En anglais, on dit que 15 est un `integer` ou encore `int` pour faire court. On peut vérifier le type d'une variable en utilisant la fonction `type` comme ceci :

In [10]:
type(age)

int

## Les nombres à virgules

In [11]:
taille = 1.83

1.83 est un nombre à virgule. Il faut noter ici que la virgule est représentée par un point. C'est la convention en anglais. `1,83` n'est donc pas un nombre à virgule si vous l'ecrivez comme ca. En anglais, on appelle un nombre à virgule, `float`

In [12]:
type(taille)

float

## Les chaînes de caractères

On a vu les nombres. Place aux chaines de caractères. Un mot est une chaine de caractères. Une lettre est une chaine de caractères avec un seul élément. Pour dire à Python qu'une variable est une chaine de caractère ou encore `string`, on la met en des guillemets comme ceci `"blabla"` ou `'blabla'`.

In [13]:
nom = "Kevin"

In [14]:
type(nom)

str

Que se passe-t-il si je mets un nombre entre des guillemets. Essayons et vérifions le type.

In [15]:
nombre = "15"

In [16]:
type(nombre)

str

nombre est apparemment un `str (string)`, ce qui veut dire que toute chose qu'on mettra entre des guillemets est une chaine de caractères

## Changement de Type

In [17]:
numero = "15"

In [18]:
type(numero)

str

In [19]:
numero_int =  int(numero)

In [20]:
type(numero_int)

int

In [21]:
numero = "1589kil"

In [22]:
int(numero)

ValueError: invalid literal for int() with base 10: '1589kil'

In [23]:
age = 15

In [24]:
str(age)

'15'

In [25]:
poids = "18.69"

In [26]:
float(poids)

18.69

In [27]:
poids = float(poids)

In [28]:
poids

18.69

## Les listes

In [28]:
notes = [18, 15, 13, 20]

In [29]:
blabla = ["Kevin", 15, 25.25, [5], "1"]

In [30]:
notes[0]

18

In [31]:
notes[-2]

13

In [32]:
notes[2]

13

In [33]:
blabla[3]

[5]

In [34]:
type(blabla[3])

list

In [35]:
type(blabla)

list

In [36]:
notes = [18, 15, 13, 20]

In [37]:
notes[-2] = 10

In [38]:
notes

[18, 15, 10, 20]

In [39]:
notes[1:3]

[15, 10]

In [ ]:
notes[index_du_premier: index_du_dernier + 1]

In [40]:
nombres = [ 14, 58, 45, -9, "ballon", "kevin", 12]

In [41]:
nombres[4:6]

['ballon', 'kevin']

In [42]:
nombres[-3:-1]

['ballon', 'kevin']

In [43]:
nombres.append(20)

In [44]:
nombres

[14, 58, 45, -9, 'ballon', 'kevin', 12, 20]

In [45]:
nombres[4:6]

['ballon', 'kevin']

In [46]:
nombres[-4:-2]

['ballon', 'kevin']

In [47]:
nombres[3] = 9

In [48]:
nombres

[14, 58, 45, 9, 'ballon', 'kevin', 12, 20]

In [49]:
del nombres[4]

In [50]:
nombres

[14, 58, 45, 9, 'kevin', 12, 20]

In [51]:
nombres.remove('kevin')

In [52]:
nombres

[14, 58, 45, 9, 12, 20]

In [53]:
nombres

[14, 58, 45, 9, 12, 20]

In [54]:
nombres.insert(4, 'radji')

In [55]:
nombres

[14, 58, 45, 9, 'radji', 12, 20]

In [56]:
len(nombres)

7

## Les tuples

## Les dictionnaires

# Recevoir des données de l'utilisateur

# Mon programme prend des décisions

## Conditions

## Si ...

## Répeter un comportement

## Tant que

# Les fonctions et Modules en Python

# Manipuler les fichiers en Python

# Ecrire Python avec Classe

# Exercices